@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/messages" method="post">
    <div>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" />
    </div>

    <input type="submit" />
</form>