@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
<form method="post" action="/photos/create" enctype="multipart/form-data">
    <div>
        <label for="descriptionLbl">
            Description:</label>
        <input type="text" name="Description" id="descriptionLbl" />
    </div>

    <div>
        <input type="file" name="photo" id="photo" />
    </div>

    <div>
        <input type="submit" />
    </div>
</form>
